In [1]:
import pandas as pd
import numpy as np

In [2]:
# Set the seed for reproducibility
np.random.seed(123)

# Create a dataframe with 2 classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [3]:
n_class_0, n_class_1

(900, 100)

In [4]:
# Create a dataset with Imbalanced Dataset
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

In [5]:
df = pd.concat([class_0, class_1]).reset_index(drop=True)
df.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [6]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

## Upsampling

In [7]:
# Upsampling
df_minority = df[df['target'] == 1]
df_majority = df[df['target'] == 0]

In [8]:
from sklearn.utils import resample

df_minority_upsampled = resample(
    df_minority, replace=True, # Sample with replacement
    n_samples=len(df_majority),
    random_state=42
)

In [9]:
df_minority_upsampled.shape

(900, 3)

In [11]:
df_upsampled = pd.concat([df_majority, df_minority_upsampled])

In [12]:
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

## Downsampling

In [13]:
# Create a dataset with Imbalanced Dataset
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

In [14]:
# Downsampling
df_minority = df[df['target'] == 1]
df_majority = df[df['target'] == 0]

In [15]:
from sklearn.utils import resample

df_majority_downsampled = resample(
    df_majority, replace=False, # Sample with replacement
    n_samples=len(df_minority),
    random_state=42
)

In [16]:
df_majority_downsampled.shape

(100, 3)

In [17]:
df_downsampled = pd.concat([df_minority, df_majority_downsampled])

In [18]:
df_downsampled['target'].value_counts()

target
1    100
0    100
Name: count, dtype: int64

*Downsampling* is usually considered bad because here, we are loosing data. *Upsampling* is better because here, we increasing the data.